@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&display=swap');

:root {
    --font-family--: 'Inter', sans-serif;
    --font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.conteiner {
    width: 1120px;
    margin: auto;
}

.conteiner__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.conteiner__p {
    display: flex;
    gap: 25px;
}

.conteiner__p__h {
    color: #192252;
    font-size: 16px;
    font-family: var(--font-family--);
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
    transition: .5s;
}

.conteiner__p__h:hover {
    border-bottom: 1px solid #0E1734;
    transition: .5s;
    cursor: pointer;
}

.conteiner__btn {
    width: 121px;
    height: 38px;
    border-radius: 4px;
    border: none;
    background: #0E1734;
    border: 1px solid #0E1734;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.conteiner__btn:hover {
    transition: .5s;
    border: 1px solid #0E1734;
    color: #0E1734;
    background: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.header__text {
    width: 580px;
    height: 330px;
}

.header__h1 {
    color: #192252;
    font-size: 24px;
    font-family: var(--font-family);
    line-height: 62px;
    font-weight: 600;
    padding-bottom: 30px;
}

.header__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #848FAC;
    padding-bottom: 30px;
}

.button__btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    width: 156px;
    height: 50px;
    border-radius: 4px;
    background: #0E1734;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.button__btn:hover {
    transition: .5s;
    background: #fff;
    color: #0E1734;
}

.header__im {
    display: flex;
    gap: 10px;
}

.header__chap {
    width: 160px;
    height: 550px;
}

.header__orta {
    width: 160px;
    height: 550px;
    margin-top: 90px;
}

.header__onga {
    width: 160px;
    height: 550px;
}

.header__btn {
    width: 100%;
    height: 100%;
}

.immer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.right__h1 {
    font-family: var(--font-family--);
    font-weight: 600;
    font-size: 20px;
    line-height: 54px;
    color: #192252;
    padding-bottom: 20px;
}

.right__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #848FAC;
    padding-bottom: 40px;
}

.right__smoll {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    background: #0E1734;
    border: 1px solid transparent;
    cursor: pointer;
    transition: .5s;
}

.right__smoll:hover {
    border: 1px solid #0E1734;
    transition: .5s;
    color: #0E1734;
    background: #fff;
}

.notebook {
    margin-top: 100px;
}

.notebook__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__h1 {
    font-family: var(--font-family--);
    font-weight: 600;
    font-size: 20px;
    color: #192252;
    padding-bottom: 20px;
}

.top__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #848FAC;
}

.notebook__botton {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botton__h1 {
    font-family: var(--font-family--);
    font-weight: 600;
    font-size: 20px;
    line-height: 54px;
    color: #192252;
}

.botton__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #848FAC;
}

.game {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

.game__h1 {
    font-family: var(--font-family--);
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    color: #192252;
    padding-bottom: 20px;
}

.game__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 30px;
    color: #848FAC;
}

.smoll__buttom {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    background: #0E1734;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
}

.smoll__buttom:hover {
    background: #fff;
    color: #0E1734;
    transition: .5s;
}

.emmer {
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
}

.emmer__img {
    width: 370px;
    height: 480px;
}

.emmer__img__smoll {
    width: 100%;
    height: 100%;
}

.emmer__h1 {
    font-family: var(--font-family--);
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-top: 35px;
    padding-bottom: 20px;
}

.emmer__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #848FAC;
    padding-bottom: 20px;
}

.emmer__smoll {
    width: 120px;
    height: 25px;
    gap: 10px;
    font-size: 15px;
    color: #848FAC;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.cloudy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.cloudy__left__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #192252;
    padding-bottom: 10px;
}

.cloudy__left__h1 {
    font-family: var(--font-family--);
    font-weight: 600;
    font-size: 20px;
    color: #192252;
}

.cloudy__left__paragrof {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #848FAC;
}

.cloudy__smoll {
    margin-top: 30px;
    width: 140px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    background: #0E1734;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.cloudy__smoll:hover {
    transition: .5s;
    background: #fff;
    color: #0E1734;
}

.cloudy__smol {
    width: 140px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background: #fff;
    color: #0E1734;
    cursor: pointer;
    transition: .5s;
}

.cloudy__smol:hover {
    transition: .5s;
    color: #fff;
    background: #0E1734;
    border: none;
}

.cloudy__top {
    width: 500px;
    height: 70px;
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.cloudy__top__img {
    position: absolute;
    right: 37px;
}

.cloudy__top_h1 {
    font-family: var(--font-family--);
    font-weight: 600;
    font-size: 14px;
    color: #424F7B;
}

.cloudy__medium {
    width: 500px;
    height: 160px;
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.cloudy_medium {
    display: flex;
    width: 550px;
    gap: 85px;
    padding-top: 30px;
    position: relative;
}

.cloudy__top__img__ {
    top: 35px;
    right: 58px;
    position: absolute;
}

.cloudy__top_p {
    font-family: var(--font-family--);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-top: 20px;
    color: #848FAC;
}

.cloudy__botton {
    width: 500px;
    height: 70px;
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.enjoy__h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #424F7B;
}

.enjoy__img {
    position: absolute;
    right: 37px;
}

.home__top {
    display: flex;
    justify-content: center;
    font-family: var(--font-family--);
    font-weight: 600;
    font-size: 18px;
    color: #192252;
}

.home__bottom {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.home__img {
    padding-bottom: 30px;
}

.home_p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #848FAC;
    padding-bottom: 30px;
}

.home_h1 {
    font-family: var(--font-family--);
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #192252;
    padding-bottom: 20px;
}

.box {
    background: #0B265A;
}

.del {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}

.del__h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: #fff;
    padding-bottom: 20px;
}

.del__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #D9DBDE;
    padding-bottom: 20px;
}

.del__right {
    display: flex;
    gap: 50px;
    line-height: 30px;
}

.del__right_h1 {
    padding-bottom: 20px;
    font-family: var(--font-family--);
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}

.del__right_p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    color: #D9DBDE;

}